.list-menu {
	align-items: center;
	text-transform: uppercase;
}

.list-menu--right {
	right: 0;
}

.list-menu--disclosure {
	position: absolute;
	left: calc(var(--space-xs) * -1);
	min-width: 100%;
	top: calc(var(--space-xs-xs) * 5 + 1px);
	width: 20rem;
}

.list-menu--disclosure:focus {
	outline: none;
}

.list-menu__item--active {
	background: var(--color-accent-primary);
	text-decoration: none;
	text-underline-offset: var(--space-3xxs);
}

.list-menu__item--active:hover {
	text-decoration-thickness: 0.2rem;
}

.list-menu--disclosure.localization-selector {
	max-height: 18rem;
	overflow: auto;
	width: 10rem;
	padding: 0.5rem;
}
