/* Mobile, Default */
.reassurance {
	/* background-color: var(--color-black); */
}

.reassurance .items-container {
	align-items: stretch;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 16.5px;
	justify-content: space-between;
	padding: var(--space-3xl) 0;
}

.reassurance .item {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	margin-top: var(--space-s);
	background-color: var(--color-gray-light);
	border: 1px solid var(--color-gray-medium);
	max-width: 160.5px;
	width: 100%;
}

/* svg switching color_schema */
.reassurance .item svg path {
	fill: var(--color-gray-medium);
}

.reassurance .item h4,
.reassurance .item p {
	font-family: var(--font-body-family);
	margin: 0;
	text-align: left;
}

.reassurance .item h4 {
	color: var(--color-black);
	font-size: var(--typo-heading-6);
	text-transform: none;
}

.reassurance .item p {
	color: var(--color-gray-dark);
	font-size: var(--typo-body-xs);
	text-transform: none;
}

/* reassurance_product_page */
.reassurance.reassurance_product_page {
	border-radius: var(--border-radius-xxs);
	flex-basis: 100%;
	max-width: var(--size-520);
	margin-top: var(--space-m);
	padding: 0 !important;
	background-color: transparent;
}

.reassurance.reassurance_product_page .items-container {
	padding: 0;
}

.reassurance.reassurance_product_page .item {
	align-items: center;
	flex-direction: row;
	padding: var(--space-xs-xs);
	margin: 0;
}

.reassurance.reassurance_product_page .item svg {
	height: var(--size-s);
	margin-right: var(--space-xs-xs);
	width: var(--size-s);
}

.reassurance.reassurance_product_page .item h4, p {
	font-size: var(--typo-body-xs);
	text-transform: none;
}

/* Tablet, Desktop */
@media only screen and (min-width: 768px) {
	.reassurance.reassurance_product_page {
		padding: var(--space-xxs) var(--space-xs);
	}

	.reassurance .item {
		flex-basis: 25%;
	}

	.reassurance.reassurance_product_page .item {
		flex-basis: 50%;
	}

	.reassurance .item h4 {
		font-size: var(--typo-heading-3);
	}
}

@media only screen and (max-width: 768px) {
	.reassurance.reassurance_product_page .items-container {
		grid-template-columns: 1fr;
	}

	.reassurance .item {
		max-width: 600px;
		height: 56px;
		display: flex;
	}

	.reassurance .item .item-label {
		display: flex;
		align-items: center;
		column-gap: 10px;
	}

	.reassurance .item .item-label p {
		color: var(--color-black);
	}

	.reassurance .items-container {
		border: 1px solid var(--color-gray-medium);
		border-radius: 16px;
		overflow: hidden;
	}
}
